<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/blog.css" type="text/css"> 
        <href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" type="text/css" rel="stylesheet">

    </head>

<body>
        <header>
        <a href="index.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="login.html" class="login-btn"><span>Login</span></a>
                    </li>
                    <li>
                        <a href="signup.html" class="signup-btn"><span>Sign Up</span></a>
                    </li>
    
                </ul>
            </nav> 
      
        </header> 
        
        <section class="blogBody">
            
            <div class="blog">
                <div class="date">March 23rd 2020</div>
                <h2>Our news</h2>
                <p class="paragraph">
                This is our online journal where we want to discuss the main news about projects and news that are coming.
                We really want to share all of that with our users so as we want to understand better our audience to 
                improve our plataform making it more useful and interesting.</p>
                <p>Our team is always looking for alternatives to improve your experience as a "conversa" user. 
                Our goal is to expand the community so that you have more options for events to attend or even options to create
                your own.</p>
                <p>The community large and you will definitely find a group of language learners in your level,
                so you can get together and practice your speaking. 
                Stay tuned for new language options and placement tests that will be available in a few weeks.</p>    
                <hr>  
            </div>
              <div class="blog">
                <div class="date">April 15th 2020</div>
                <h2>It's official: Spring is here!</h2>
                <p class="paragraph">
                What's better than the promise of rebirth? This is the season when the weather warms up
                and the days lengthen, bringing hope and warmth to our hearts. 
                Behind the vicissitudes of winter, now is the time to celebrate. 
                Just as Nature flourishes and renews itself, let your personal energy shine in the light of day!</p>
                <p>What about to take a walk outside?
                Have you thought about creating a conversa in a park where you and your conversa mates can chat 
                away while taking a nice walk enjoying a beautiful spring afternoon?</p>
                <p>There is no better season for a delicious picnic in one of the beautiful parks of the city.
                There are plenty of options that you can choose to fire a conversa meeting. Taking advantage of the 
                flowered and colourful parks to get to practice your speaking skills.</p>      
            </div>
            
        </section>
    
         <footer>
            <div class="container">
                <div class="col-3">
                    <h3>Follow Us!</h3>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="/img/facebook.png" alt="facebook icon" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="/img/instagram.png" alt="instagram icon" class="social-icon">
                    </a>
                    <a href="#">
                        <img src="/img/blogger.png" alt="blogger icon" class="social-icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="#">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>  
    </body>
</html>
