<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/blog.css" type="text/css">
        <href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" type="text/css" rel="stylesheet">
    </head>

    <body>
        <main>
            <section>
                <div class="blog">
                    <div class="date">March 23rd 2020</div>
                    <h2>Our Blog</h2>
                    <p class="paragraph">
                        This is our online journal where we want to discuss the main news about projects and news that are coming.
                        We really want to share all of that with our users so as we want to understand better our audience to 
                        improve our plataform making it more useful and interesting.
                    </p>
                    <p>Our team is always looking for alternatives to improve your experience as a "conversa" user. 
                        Our goal is to expand the community so that you have more options for events to attend or even options to create
                        your own.
                    </p>
                    <p>The community large and you will definitely find a group of language learners in your level,
                        so you can get together and practice your speaking. 
                        Stay tuned for new language options and placement tests that will be available in a few weeks.
                    </p>    
                    <hr>  
                </div>
                <div class="blog">
                    <div class="date">April 15th 2020</div>
                    <h2>It's official: Spring is here!</h2>
                    <p class="paragraph">
                        What's better than the promise of rebirth? This is the season when the weather warms up
                        and the days lengthen, bringing hope and warmth to our hearts. 
                        Behind the vicissitudes of winter, now is the time to celebrate. 
                        Just as Nature flourishes and renews itself, let your personal energy shine in the light of day!
                    </p>
                    <p>What about to take a walk outside?
                        Have you thought about creating a conversa in a park where you and your conversa mates can chat 
                        away while taking a nice walk enjoying a beautiful spring afternoon?
                    </p>
                    <p>There is no better season for a delicious picnic in one of the beautiful parks of the city.
                        There are plenty of options that you can choose to fire a conversa meeting. Taking advantage of the 
                        flowered and colourful parks to get to practice your speaking skills.
                    </p>      
                </div>
                <div class="blog">
                    <div class="date">April 22th 2020</div>
                    <h2>Hi there! Are you a sports lover?</h2>
                    <p class="paragraph">
                        Practicing sports offers numerous health benefits, which include improved lung and heart function,
                        as well as reduced medical conditions such as high blood pressure and osteoporosis, or reduced bone density.
                        www.livestrong.com/article
                    </p>
                    <p>Not necessarily it must be playing soccer or volleyball. All those very popular sports are grand 
                        However, we are here actually talking about sports of all kind. You could go out for a run or walk.
                        Maybe some gym training outdoors or whatever your creativiness brings you at. The point here is to 
                        connect to your pair that are also sport fans and have the chance to practice CONVERSA.
                    </p>
                    <p>While practicing sports, you exercise motor and cognitive skills, which are essential 
                        both on and off the field. So why not to take advantage of this moment and also exercise
                        your speaking skills. Fire up an event and get people together. But please, come back to this blog 
                        and tell us about your experience and how much fun your group had.
                    </p>      
                </div>
            </section>
        </main>
    </body>
</html>