<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <a href="home.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="index.html" class="login-btn"><span>Login</span></a>
                    </li>
                    <li>
                        <a href="index.html" class="signup-btn"><span>Sign Up</span></a>
                    </li>
    
                </ul>
            </nav> 
      
        </header>
        <main>
        <section class="event">
          <div class="wrapper">
           <h2>English for Business</h2>
           <img src="../img/business.jpg" alt="business">
           <article>
           <h3>Let's talk About Business!</h3>
           <div>
           <p> blablablablablablablablablabkabakbakbakabkabkabakakakba
           blablabalbalablablablabalbalablablabalbalablablababla
           balbalablablablbalablablabalbalbalabalblablablablabalb
           balablablabalbalablabalbalbalbalablablablabalba
           balbalablabalbalablablabalablablablablablabalba
           balbalablablablablablabalbalablabalbal</p>

             <section class="home-links">
                <a href="index.html">
                    <div class="home-boxlink-square">
                        <h3>Be part of this Conversa</h3>
                    </div>
                </a>
           </div>
           </article>
        </section>

        </main>

        <footer>
            <div class="container">
                <div class="col-3">
                    <p>Follow Us</p>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="../img/fb.png" alt="facebook icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="../img/gp.png" alt="google icon">
                    </a>
                    <a href="#">
                        <img src="../img/tw.png" alt="twiter icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="events.html">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>
    </body>
</html>
