<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <img src="img/logo-conversa.png" alt="Conversa Logo" class="logo">
            <nav>
                <ul>
                    <li>
                        <a href="index.html" class="login-btn"><span>Login</span></a>
                    </li>
                    <li>
                        <a href="index.html" class="signup-btn"><span>Sign Up</span></a>
                    </li>
    
                </ul>
            </nav> 
      
        </header>
        <main>
        <section class="events-links">
          <div class="wrapper">
           <h2>Conversa Events</h2>
           <a href ="event1.html">
             <div class="events-link">
               <p>Event1</p>
          </div>
          </a>
          <a href ="event2.html">
             <div class="events-link">
               <p>Event2</p>
          </div>
          </a>
          <a href ="event3.html">
             <div class="events-link">
               <p>Event3</p>
          </div>
          </a>
          <a href ="event4.html">
             <div class="events-link">
               <p>Event4</p>
          </div>
          </a>
          <a href ="event5.html">
             <div class="events-link">
               <p>Event5</p>
          </div>
          </a>
          <a href ="event6.html">
             <div class="events-link">
               <p>Event6</p>
          </div>
          </a>
          <a href ="event7.html">
             <div class="events-link">
               <p>Event7</p>
          </div>
          </a>
          <a href ="event8.html">
             <div class="events-link">
               <p>Event8</p>
          </div>
          </a>
          
          </div>
        </section>

        </main>

        <footer>
            <ul class="footer-links-main">
                <li><a href="home.html">Home</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="index.html">Your Account</a></li>
                <li><a href="#">Help</a></li>

            </ul>
            <div class="footer-social">
                <a href="#">
                    <img src="../img/fb.png" alt="facebook icon">
                </a>
                <a href="#">
                    <img src="../img/gp.png" alt="google icon">
                </a>
                <a href="#">
                    <img src="../img/tw.png" alt="twiter icon">
                </a>
            </div>
                    
        </footer>
    </body>
</html>
