<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <a href="index.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li>
                     <a href="#" class="start-btn"><span>New Conversa</span></a>
                    </li>
                        <a href="login.html" class="login-btn"><span>Login</span></a>
                    </li>
                    <li>
                        <a href="signup.html" class="signup-btn"><span>Sign Up</span></a>
                    </li>
    
                </ul>
            </nav> 
      
        </header>
        <main>
        <section class="event">
           <h2>English for Business</h2>
           <img src="../img/business.png" alt="business">
           <article>
           <h3>Let's talk About Business!</h3>
           <div>
           <p> English is being used as the official language in over 70 countries.
            Fluency in English, both written and spoken plays a critical role in many aspects of corporate life from securing employment to communicating with clientele 
           and achieving cohesive business partnerships all over the world.
           Be part of this comunity!</p>
         </div>

       
        <div class="map">
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDy-gIfrmkG0e0z7WTBqJv0Zdp2u7hc0b4'>
        </script>
        <div id='gmap_canvas' style='height:400px;width:520px;'>
        </div>
         <a href='http://maps-generator.com/'>maps-generator.com</a> 
         <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=161416622327ceee96ded8eed02df9589f2b474b'>
        </script>
        <script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(53,-8),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(53,-8)
        });infowindow = new google.maps.InfoWindow({content:'<strong></strong><br><br> <br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
        </script>
        </div>
         </div>

         <div class="attends">
         <h1></h1>
         </div>

         <div class="similar-events">
         </div>
        
        <div class="input-field button">      
        <button onclick="location.href='popup.html'" class="button">Attend</button>
         <button onclick="location.href='index.html'" class="button">Home</button>
         </div>
           </div>
           </article>
        </section>
           </div>
           </article>
        </section>
        </main>

        <footer>
            <div class="container">
                <div class="col-3">
                    <h3>Follow Us!</h3>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="/img/facebook.png" alt="facebook icon" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="/img/instagram.png" alt="instagram icon" class="social-icon">
                    </a>
                    <a href="#">
                        <img src="/img/blogger.png" alt="blogger icon" class="social-icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="#">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>
    </body>
</html>
