<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <nav>
           <div class="logo">
            <a href="index.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo">
            </a>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
         <section class="event2">
        <div class="leftBox">
           <div class="content">
             <h1>Have you tried turn on and off?</h1>
             <img src="../img/technology.jpg" alt="business" class="business">
           <p> shashjasjsakjahskjdahskdjas
           sbdabsdjabsdjasbdkasbdkjasbjdka
           Be part of this comunity!</p>       
         </div>
    </div>
    <div class="events">
            <ul>
               <li>
          <div class="time">
            <h2>02<br><span>Abril</span></h2>
          </div>
          <div class="details">
            <h3>Why go to this Conversa</h3>
            <p>sahdhasdkasdbkasdkasjhdkja
             askdaksdkjasdkjsadkjashdkajs
            sadksadkjashdkjashdkjashdjksh</p>
            <a href="popup.html">View Details</a>
            <a href="new.html">Create new</a>
         </div>
         <div style="clear:both;"></div>
           </li>
              
               
             <li>
          <div class="time">
            <h2>02<br><span>Abril</span></h2>
          </div>
          <div class="details">
            <h3>Why go to this Conversa</h3>
            <p>sahdhasdkasdbkasdkasjhdkja
             askdaksdkjasdkjsadkjashdkajs
            sadksadkjashdkjashdkjashdjksh</p>
            <a href="popup.html">View Details</a>
            <a href="new.html">Create new</a>
         </div>
         <div style="clear:both;"></div>
           </li>
               </ul>
         <div class="similar-events">
         </div>
        
        <div class="input-field button">      
        <button onclick="location.href='popup.html'" class="button">Attend</button>
         <button onclick="location.href='index.html'" class="button">Home</button>
         </div>
         <div style="clear:both;"></div>
           </li>
               </div>
        
             </div>
                </div>
             </div>
           </div>
        </section>
      

        <footer>
            <div class="container">
                <div class="col-3">
                    <h3>Follow Us!</h3>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="img/facebook.png" alt="facebook icon" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="img/instagram.png" alt="instagram icon" class="social-icon">
                    </a>
                    <a href="#">
                        <img src="img/blogger.png" alt="blogger icon" class="social-icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="index.html">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>
        <script src="js/app.js"></script>
    </body>
</html>
