<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/modal.css" type="text/css">
    </head>
    <body>
        <nav>
           <div class="logo">
            <a href="index.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo">
            </a>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

        <!-- modal -->
        <div class="pure-modal">
            <input id="modal-trigger-center" class="checkbox" type="checkbox">
            <div class="pure-modal-overlay">
                <label for="modal-trigger-center" class="o-close"></label>
                <div class="pure-modal-wrap a-center">
                    <label for="modal-trigger-center" class="close">&#10006;</label>
                    <h2>You need to login!</h2>
                    <p>This session is for members only!</p>
                    <button class="register">
                        <a href="login.html" class="loginLink">Login</a>
                    </button>
                    <button class="register">
                        <a href="signup.html" class="registerLink">Register now</a>
                    </button>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <section class="event2">
            <div class="leftBox">
                <div class="content">
                    <h1>English for dating.</h1>
                    <img src="../img/iloveyou.jpg" alt="business" class="business">
                    <p> Cupid has a letter for you!
                    It says: time to practice your speaking!
                        Be part of this comunity!</p>       
                </div>
            </div>
            <div class="events">
                <ul>
                    <li>
                        <div class="time">
                            <h2>02<br><span>Abril</span></h2>
                        </div>
                        <div class="details">
                            <h3>Why try this Conversa</h3>
                            <p>Love has many forms. Hearthbroken after the cloud nine?
                            We are going to practice some loving expressions!</p>
                            <label for="modal-trigger-center" class="open-modal">View Details</label>
                            <a href="new.html">Create new</a>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                    
                    <li>
                        <div class="time">
                            <h2>02<br><span>Abril</span></h2>
                        </div>
                        <div class="details">
                            <h3>Why try this Conversa</h3>
                            <p>Have you heard the expression "Love is in the air?"
                                It may be, but also in English.
                                Come meet that new extra friend to practice!
                                </p>
                            <label for="modal-trigger-center" class="open-modal">View Details</label>
                            <a href="new.html">Create new</a>
                        </div>
                        <div style="clear:both;"></div>
                    </li>
                </ul>
                <div class="similar-events">
                </div>
                <div class="input-field">      
                    <label for="modal-trigger-center" class="open-modal">Attend</label>
                    <button onclick="location.href='index.html'" class="button">Home</button>
                </div>
                <div style="clear:both;"></div>
            </div>
        </section>
      
        <footer>
            <div class="container">
                <div class="col-3">
                    <h3>Follow Us!</h3>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="img/facebook.png" alt="facebook icon" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="img/instagram.png" alt="instagram icon" class="social-icon">
                    </a>
                    <a href="#">
                        <img src="img/blogger.png" alt="blogger icon" class="social-icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="index.html">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="signup.html">Sign Up</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </div>
            </div>    
        </footer>
        <script src="js/app.js"></script>
    </body>
</html>
