<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
    <section class="login-page">
        <header>
            <img src="img/logo-conversa.png" alt="Conversa Logo" class="logo">
         <form>
         <div class="box">
         <div class="form-head">
         <h2> Member Login </h2>
         </div>
         <div class="form-body">
         <input type="text" placeholder=" Enter email">
         <input type="password" placeholder=" Enter Password">
         </div>
         <div class="form-footer">
         <button type="submit"> Sign In </button>
         </div>
         </div>
       </form>
        </section>
        </header>
       
                    

        <footer>
            <div class="container">
                <div class="col-3">
                    <p>Follow Us</p>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="../img/fb.png" alt="facebook icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="../img/gp.png" alt="google icon">
                    </a>
                    <a href="#">
                        <img src="../img/tw.png" alt="twiter icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="events.html">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>
    </body>
</html>