<!DOCTYPE html>
<html>
    <head>
        <title>Conversa</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <ul>
                    <li class="logo"><img src="img/logo.png"></li>
                    <li class="active">Home</li>
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Contact</li>
                    <li><a href="login.html" class="login-btn"><span>Login</span></a></li>
                    <li><a href="login.html" class="signup-btn"><span>Sign Up</span></a></li>
                </ul>
            </div>
        </div>
        <div class="video-container">
            <div class="text-container">
                <div class="text1">
                  <video src="360" autoplay control>
                </div>
                <div class="text2">
                    <p>More text goes here</p>
                </div>
                <div class="join-btn-box">
                    <a href="login.html" class="join-btn">Join Us!</a>
                </div>
            </div>
        </div>
        
    </body>
</html>
