<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <a href="index.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="home.html" class="login-btn"><span>Login</span></a>
                    </li>
                    <li>
                        <a href="home.html" class="signup-btn"><span>Sign Up</span></a>
                    </li>
    
                </ul>
            </nav> 
      
        </header>
        <main>
            <section class="home-hero">
                <a href="index.html" class="join-btn"><span>Join Us!</span></a>
            </section>
                      
         <section class="events-links">
           <h2>Conversa Events</h2>
           
          <!--event item 01 -->
           <figure class="event-item">
           <img src="../img/business.png" alt="event item">
           <figcaption class="event-desc">
            <p>Let's talk business</p>
            <a href="event1.html" class="button button-accent button-small"> Conversa details</a>
           </figcaption>
           </figure>

            <!--event item 02 -->
           <figure class="event-item">
           <img src="../img/iloveyou.jpg" alt="event item">
           <figcaption class="event-desc">
            <p>I love you</p>
            <a href="event2.html" class="button button-accent button-small"> Conversa details</a>
           </figcaption>
           </figure>

            <!--event item 03 -->
           <figure class="event-item">
           <img src="../img/technology.jpg" alt="event item">
           <figcaption class="event-desc">
            <p>Have you try turn on and off?</p>
            <a href="event3.html" class="button button-accent button-small"> Conversa details</a>
           </figcaption>
           </figure>
        
               <!--event item 04 -->
           <figure class="event-item">
           <img src="../img/music.jpg" alt="event item">
           <figcaption class="event-desc">
            <p>Can you sing?</p>
            <a href="event4.html" class="button button-accent button-small"> Conversa details</a> 
           </figcaption>
           </figure>   

            <!--event item 05 -->
           <figure class="event-item">
           <img src="../img/food.jpg" alt="event item">
           <figcaption class="event-desc">
            <p>Can you spell spinash</p>
            <a href="event5.html" class="button button-accent button-small"> Conversa details</a>
           </figcaption>
           </figure>  

            <!--event item 06 -->
           <figure class="event-item">
           <img src="../img/beer.jpg" alt="event item">
           <figcaption class="event-desc">
            <p>Let's just talk!</p>
            <a href="event6.html" class="button button-accent button-small"> Conversa details</a>
           </figcaption>
           </figure>    
        </section>

        <section class="cta">
	<div class="container">
		<h1 class="title title-cta">Want to be part of this community?
			 <span>Then what are you waiting for?</span>
		</h1>
		<a href="" class="button button-dark">Join us</a>
	</div>
</section>
        </main>

        <footer>
            <div class="container">
                <div class="col-3">
                    <h3>Follow Us!</h3>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="/img/facebook.png" alt="facebook icon" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="/img/instagram.png" alt="instagram icon" class="social-icon">
                    </a>
                    <a href="#">
                        <img src="/img/blogger.png" alt="blogger icon" class="social-icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="#">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>
    </body>
</html>
