<!DOCTYPE html>
<html>
    <head>
        <title>You need to sign in!</title>
        <link rel="stylesheet" href="css/popup.css" type="text/css">
            
  
    </head>
    <body>
    
        <div class="heading">
            <span class="title1">You need to login.</span>
            <span class="title2">This session is for members only!</span>
            <button class="register">
                <a href="login.html" class="loginLink">Login</a>
            </button>
            <button class="register">
                <a href="signup.html" class="registerLink">Register now</a>
            </button>
        </div>

    </body>
</html>