<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Conversa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
            
    </head>
    <body>
        <nav>
           <div class="logo">
            <a href="index.html">
                <img src="img/logo-conversa.png" alt="Conversa Logo">
            </a>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
           <div class="profile-card">
           <div class="image-container">
           <img src="img/paty.png" style="width:100%">
           <div class="user-title">
           <h2> Patty Correia</h2>
           </div>
        </div>

           <div class="main-container">
           <p><i class="fa fa-home info">
           </i>Dublin-Ireland</p>
           <p><i class="fa fa-envelope info">
           </i>@gmail.com</p>
           <p><i class="fa fa-phone info">
           </i>08489745606</p>  
           </div>      
           <hr>
           
           <p><b><i class="fa fa-asterisk info">
           </i> Preference</b></p>
           <p>Music</p>
           <div class="preference-bar">
           <div class="progress-bar" style="width:80%">80%
        </div>
           </div>

           <p>Business</p>
           <div class="preference-bar">
           <div class="progress-bar" style="width:75%">75%
           </div>
           </div>

           <p>Food</p>
           <div class="preference-bar">
           <div class="progress-bar" style="width:70%">70%
           </div>
           </div>

            <div class="input-field button">      
        <button onclick="location.href='home.html'" class="button">Edit</button>
         </div>
           </div>
           </div>

        <footer>
            <div class="container">
                <div class="col-3">
                    <h3>Follow Us!</h3>
                    <a href="https://www.facebook.com/conversa.cct/">
                        <img src="img/facebook.png" alt="facebook icon" class="social-icon">
                    </a>
                    <a href="https://www.instagram.com/conversa_cct/">
                        <img src="img/instagram.png" alt="instagram icon" class="social-icon">
                    </a>
                    <a href="#">
                        <img src="img/blogger.png" alt="blogger icon" class="social-icon">
                    </a>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Conversa</strong></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Events</strong></li>
                        <li><a href="index.html">Find an event</a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <ul class="unstyled-list">
                        <li><strong>Your Account</strong></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                </div>    
        </footer>
        <script src="js/app.js"></script>
    </body>
</html>
